# Backend API service URL (where the backend Next.js API or production server is hosted)
NEXT_PUBLIC_BACKEND_URL="http://localhost:3000"

# Internal Shared API Key (must match backend's INTERNAL_API_KEY)
BACKEND_API_KEY="your-secure-internal-api-key-2026"

# Site Branding & Public URL
NEXT_PUBLIC_SITE_NAME="Movies.snishad"
NEXT_PUBLIC_SITE_URL="http://localhost:3001"
